

.body{
  background-color: #FF0000; /* Color rojo salón */
  font-family: Arial, sans-serif;
  text-align: center;

}
.container{
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.contenedor-logo{
  margin-bottom: 20px;

}

.contenedor-logo img{
  max-width: 200px;
  margin-bottom: 20px;
  display:block;
  margin:auto;
}
.form-group{
  margin-bottom: 20px;
  text-align: center;
}


